/*
.===================-:                                                           =----+                                                       
-####################+                                                           #####@                       :=-                             
.-----=+#####*+-----=-                                                           #####@                     +=*#*+-                           
       #*####+                                                                   #####%                   +==== +++*                          
       +*####=        #+*=-+=           *=*-=*+#       =++++   #++*     *++==*=  #####%  ++++    *++*   -*+++    *=+++    :####   *++=*+*     
       +*####=     -=+***###*++=     -==+*******+=#   +=***##%*#***+ -==+**#*****###### #****+*++***++ +++=        *#*=+ *+****+*++******+=+  
       +*####=   =**###+=-=+####**  =*###*+==++##*#*- #*###########***#####****#######* *######*####*%*+++         *##**+%*################++ 
       +*####=  ++######   ######*+*+*****    %#####= #*#####*++=+*######*=*+*=+*#####* *######++==-+#**=        -+*######*#####*+--=-=*####*-
       +*####=  =*####%#*+*#@#####* %@@%@%*===*#####* %*######    *#####+*      #*####* *####**+     +#=        **#######%######+      ######=
       +*####=  -#####**+++*******+ ***********####*# @*#####-    +*####*        #####* *####*       -#*       =+##############%        %####=
       +*####=  =#####%***+*#@@@@@@#*####*=+*#*####*# @*#####     +#####*=      #*####* *####*       ++*     ==*########**######%      +#####=
       +*####=  =*####+     #*******######    #####*# @*#####      #######*+ :#=**####* *####*        +**# *+##########**%*####**+*  +**#####=
       +*####=   -*###*+=-=++###*+#*#####*=+-**####*# @*#####      *=*####****#*######* *####*         =+*+*##########** #*######*+==+*####*+:
       +*###*-    -+*#**#####*++:   ++*#####*++**##** @*###**        ==+######**=+####+ *####+          =+*#*####**+=+   **######***####*#*+  
       -----==       =*+===+-+=       +===-==- *-----  =----*          ==+=-+==* *+---= -----+             *======*-     **####* +*=====++    
                                                                                                                         **####+              
                                                                                                                         **####=              
                                                                                                                         **####=              
                                                                                                                         -=----.              */
/* Import Teardrop Design Tokens */
@import '../../../generated/css/tokens.css';
/* Import Brand Styles */
@import './brand.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hardwater Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--neutral-9);
  color: var(--neutral-1);
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
}

#root {
  min-height: 100vh;
}

code {
  font-family: 'Monaco', 'Menlo', 'Courier New', monospace;
}
